.toppage
{
    color: #71CC40;
}

.container-fluid
{
    color: #71CC40;
}

.logout-button
{
    margin-left: 350px;
    margin-top: 7px;
    font-size: medium;
}

.login-button
{
    margin-left: 500px;
    margin-top: 7px;
    font-size: medium;
}
.mainheader-mnglogin
{
    color: black;
    margin-top: 100px;
    font-style:normal;
    border: 2px black;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.background-addinventory
{
    margin-top: 150px;
}

.mnghome
{
    margin-top: 100px;
}

.adjustinventory
{
    margin-top: 100px;
}

.aboutimage
{
    margin-top: 100px;
    margin-left: 600px;
}

.mainheader-aboutus
{
    color: rgb(63, 171, 20);
    margin-top: 50px;
    font-style:normal;
    border: 2px black;
    /* margin-left: 200px; */
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}
.education-image {
    display: block; 
    margin: auto; 
    width: 650px;
    height: 500px;
    margin-top: 50px;
}
.column1
{
    float: left;
    width: 50%;
}

.column2
{
    float: right;
    width: 50%;
}

.carousel-inner-image1
{
    width: 300px;
    height: 100px;
}

.card
{
    margin-top: 100px;

}

.column3
{
    float: right;
    width: 33%;
}

.column4
{
    float: center;
    width: 34%;
}

.column5
{
    float: left;
    width: 33%;
}

.mainheader_signup
{
    color: black;
    font-style:normal;
    border: 2px black;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

#checkoutform
{
    float: left;
    width: 50%;
}

#checkoutsummary
{
    float: right;
    width: 50%;
}

#checkoutsummary_jumbo
{
    background-color: #71CC40;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.checkoutform
{
    width: 100%;
    margin: 8px 0;
    font-size: medium;
    font-weight: 1000;
    display: flex;
   flex-direction: column;
   background: #828A8F;
   padding: 4vh 3vh;
   text-align: center;
   margin-top: 50;
}

/* Float four columns side by side */
.column 
{
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
.row
{
    margin: 0 -5px;
}
  
  /* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.tipsheadertitle
{
    color: rgb(63, 171, 20);
    margin-top: 120px;
    font-style:normal;
    border: 2px black;
    /* margin-left: 500px; */
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.tipstext
{
    /* margin-left: 20px; */
}
.navbar navbar-expand-md navbar-dark fixed-top {

    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }